.infinite-scroll {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow: hidden;
  position: relative;
  align-items: center;
  white-space: nowrap;
   height: 500px;
}

.scroll-text {
 position: absolute;
  left: 100%;
  animation: infinite-scroll 30s linear infinite;
  padding-right: 40px;
    overflow: hidden;
}



@for $i from 1 through 11 {
  .scroll-text:nth-child(#{$i}) {
    animation-delay: calc(30s / 11 * (11 - ($i - 1)) * -1);
  }
}

@keyframes infinite-scroll {
  to {
    left: -120%;
  }
}


 img{
  height:350px;
  width:200px;
  border-radius: 20px;
   display: block;
   object-fit: cover;
}




.scroll-text:nth-child(even) img {
  height: 300px;
    border-radius: 10px;
}




/* --------- Mobile ----------- */
@media (max-width: 767px) {
 @for $i from 1 through 11 {
    .scroll-text:nth-child(#{$i}) {
      animation-delay: calc(40s / 11 * (11 - ($i - 1)) * -1);
    }
  }
}
