<section class="hero-section">
    <div class="title-hero-section">
      <h2 pAnimateOnScroll enterClass="my-enter-right" leaveClass="my-leave-animation">
        Premium Corporate Services
      </h2>
      <h2 pAnimateOnScroll enterClass="my-enter-right" leaveClass="my-leave-animation">
        At a new level of legal solutions
      </h2>
      <button
        pAnimateOnScroll
        enterClass="my-enter-top"
        leaveClass="my-leave-animation"
        class="btn-hero-section"
      >
        Contact Us
      </button>
    </div>
    <div
      class="img-hero-section"
      pAnimateOnScroll
      enterClass="my-enter-top"
      leaveClass="my-leave-animation"
    >
      <img
        src="/assets/Img/portrait-young-female-lawyer-smiling-happy-her-workplace-office-lawyer-technologist-professional-face-female-lawyer-legal-consultant-law-firm_785351-3460.avif"
        alt="hero-section-img"
      />
    </div>
  </section>
