<button (click)="onToggelMenue()"><i class="fa-solid fa-bars"></i></button>
<button (click)="onCloselMenue()"><i class="fa-solid fa-xmark"></i></button>
<section class="content-menue">
  <div class="header-menue">
    <i [ngClass]="{'collpasedMenue':statusMenue()}" class="fa-solid fa-user"></i>
    @if (!statusMenue() || widthScreen()) {
      <h3>أسم المستخدم</h3>
      <p>admin@gmail.com</p>
    }
  </div>
  <ul [ngClass]="{'collpasedMenue':statusMenue() && !widthScreen()}">

    <li class="active" [ngClass]="{'collpasedMenue':statusMenue()&& !widthScreen()}">
      <span><i class="fa-solid fa-user"></i></span> <span *ngIf="widthScreen() || !statusMenue()">المستخدمين</span>
    </li>

    <li [ngClass]="{'collpasedMenue':statusMenue()&& !widthScreen()}">
      <span><i class="fa-solid fa-calendar-days"></i></span> <span *ngIf="widthScreen() || !statusMenue()">أيام العمل</span>
    </li>

    <li [ngClass]="{'collpasedMenue':statusMenue()&& !widthScreen()}">
      <span><i class="fa-solid fa-holly-berry"></i></span> <span *ngIf="widthScreen() || !statusMenue()">الأجازات</span>
    </li>

    <li [ngClass]="{'collpasedMenue':statusMenue()&& !widthScreen()}">
      <span><i class="fa-solid fa-gear"></i></span> <span *ngIf="widthScreen() || !statusMenue()">الخدمات</span>
    </li>

  </ul>
</section>
<button class="btn-logout"> <i class="fa-solid fa-arrow-right-from-bracket"></i>  <span *ngIf="!statusMenue()"> تسجيل الخروج </span></button>
