<div class="sidebar-wrapper" [ngClass]="{ collpasedMenue: statusMenue() && !widthScreen() }">
  <div class="top-menue" [ngClass]="{ collpasedMenue: statusMenue() && !widthScreen() }">
    <button class="toggle-btn" (click)="onToggelMenue()"><i class="fa-solid fa-bars"></i></button>
    <button class="close-btn" (click)="onCloselMenue()"><i class="fa-solid fa-xmark"></i></button>
    @if (widthScreen() || !statusMenue()){
    <app-translation></app-translation>
    }
  </div>

  <section class="content-menue">
    <div class="logo-container">
      <img [ngClass]="{ collpasedMenue: statusMenue() }" height="70" src="/assets/Img/LOGO-GOLD.svg" alt="Logo"
        class="logo-header" />
    </div>

    <ul class="nav-list" [ngClass]="{ collpasedMenue: statusMenue() && !widthScreen() }">
      @for (item of ListMenue(); track $index) {
      <li class="nav-item" (click)="onCloselMenue()" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }" [routerLink]="item.route"
        [ngClass]="{ collpasedMenue: statusMenue() && !widthScreen() }">
        <span class="nav-icon"><i [class]="item.icon"></i></span>
        @if (widthScreen() || !statusMenue()) {
        <span class="nav-text">{{ item.name | translate }}</span>
        }
      </li>
      }
    </ul>
  </section>

  <div class="menue-footer" [ngClass]="{ collpasedMenue: statusMenue() && !widthScreen() }">
    <button class="action-btn work-btn" (click)="visibelform.set(true)">
      <i class="fa-solid fa-business-time"></i>
      <span *ngIf="widthScreen() || !statusMenue()">{{ 'Work_Day' | translate }}</span>
    </button>

    <button class="action-btn logout-btn" (click)="onLogout()">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span *ngIf="widthScreen() || !statusMenue()">{{ 'logout' | translate }}</span>
    </button>

    <app-form-work-days [(visible)]="visibelform"></app-form-work-days>

    @if (widthScreen() || !statusMenue()) {
    <div class="info-card">
      <img width="100" src="/assets/Img/NAME-GOLD.svg" alt="logo" />
      <p>{{ 'features_company' | translate }}</p>
    </div>
    }
  </div>
</div>
