<section class="login-container">
  <div class="side-panel">

    <div class="logo-wrapper">

      <img src="/assets/Img/logo.svg" alt="Law Firm Logo" width="200" height="auto">

    </div>
  </div>
  <div class="login-form-wrapper">
    <div class="login-card">
      <div class="brand-header">
        <div class="home-nav">
          <a routerLink="/" class="btn-home" title="{{'return_main'|translate}}">
            <i class="fa-solid fa-arrow-right"></i>
          </a>
          <app-translation></app-translation>
        </div>
        <img src="/assets/Img/logo.svg" alt="Law Firm Logo" class="app-logo" width="200" height="auto" />
        <h1>{{"Welcome_back"|translate}}</h1>
        <p class="subtitle">{{"please_login"|translate}}</p>
      </div>

      <form [formGroup]="Form()" (ngSubmit)="onSubmit()" class="modern-form">
        <div class="form-group">
          <label for="email">{{"email"|translate}}</label>
          <div class="input-container"
            [class.error]="getControlName('email')?.invalid && getControlName('email')?.touched">
            <span class="icon"><i class="fa-solid fa-envelope"></i></span>
            <input id="email" type="email" formControlName="email" placeholder="{{'email'|translate}}" />
          </div>
          <div class="error-msg" *ngIf="getControlName('email')?.invalid && getControlName('email')?.touched">
            <small *ngIf="getControlName('email')?.errors?.['required']">  </small>
            <small *ngIf="getControlName('email')?.errors?.['email']">{{"vaild_email"|translate}}</small>
          </div>
        </div>

        <div class="form-group">
          <label for="password">{{"password"|translate}}</label>
          <div class="input-container"
            [class.error]="getControlName('password')?.invalid && getControlName('password')?.touched">
            <span class="icon"><i class="fa-solid fa-lock"></i></span>
            <input id="password" [type]="showPassword() ? 'text' : 'password'" formControlName="password"
              placeholder="{{'password'|translate}}" />
            <span class="toggle-password" (click)="togglePasswordVisibility()" role="button" tabindex="0">
              <i class="fa-solid" [class.fa-eye]="!showPassword()" [class.fa-eye-slash]="showPassword()"></i>
            </span>
          </div>
          <div class="error-msg" *ngIf="getControlName('password')?.invalid && getControlName('password')?.touched">
            <small>{{"filed_reqierd"|translate}}</small>
          </div>
        </div>

        <div class="form-actions">
          <a routerLink="/auth/forgot-password" class="forgot-password">{{"reset_password"|translate}}</a>
        </div>

        <button type="submit" class="btn-primary" [disabled]="Form().invalid">
          <span>{{"LOGIN"|translate}}</span>
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </form>
    </div>
  </div>
</section>
