<section class="authintication">
  <div class="left-side">
    <img
      height="400"
      width="500"
      src="/assets/Img/Explanation-of-the-evolution-of-Californias-laws-removebg-preview.png"
      alt="hero-section-img"
    />
  </div>

  <div class="right-side">
    <form [formGroup]="Form()">
      <img
        height="70"
        width="70"
        src="/assets/Img/sophisticated-law-firm-logo-on-transparent-background-png.webp"
        alt="Logo"
        class="logo-header"
      />

      <div class="Group">
        <div class="input-wrapper">
          <input formControlName="email" placeholder="Enter Email" />
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="wrapper-error">
          <small
            class="error-message"
            *ngIf="getControlName('email')?.invalid && getControlName('email')?.touched"
            >This Field Is Requierd *</small
          >
        </div>
      </div>

      <div class="Group">
        <div class="input-wrapper">
          <input formControlName="password" type="password" placeholder="Enter Password" />
          <i class="fa-solid fa-lock"></i>
        </div>
         <div class="wrapper-error">
          <small
            class="error-message"
            *ngIf="getControlName('password')?.invalid && getControlName('password')?.touched"
            >This Field Is Requierd *</small
          >
        </div>
      </div>
      <button (click)="onSubmit()">Login</button>
      <p [routerLink]="['/auth/Register']">Don't have an account? Create account</p>
    </form>
  </div>
</section>
