<div class="calendar-wrapper">
  <div class="calendar-nav">
    <p-select [options]="months" [(ngModel)]="selectedMonth" (onChange)="onMonthChange($event)" optionLabel="name"
      [style]="{ width: '40%' }" />
    <h2>{{ displayDate | date: 'MMMM yyyy' }}</h2>

    <div class="btn-filterbyStatus">
      <button [ngClass]="{ All: selectedStatus() === 'All' }" (click)="GetAllBookingByStatus('All')">
        ⊞ {{"all"|translate}}
      </button>

      <button [ngClass]="{ PENDING: selectedStatus() === 'PENDING' }" (click)="GetAllBookingByStatus('PENDING')">
        ⏳ {{"PENDING"|translate}}
      </button>

      <button [ngClass]="{ CANCELLED: selectedStatus() === 'CANCELLED' }" (click)="GetAllBookingByStatus('CANCELLED')">
        ✕ {{"CANCELLED"|translate}}
      </button>

      <button [ngClass]="{ COMPLETED: selectedStatus() === 'COMPLETED' }" (click)="GetAllBookingByStatus('COMPLETED')">
        ✓ {{"COMPLETED"|translate}}
      </button>
    </div>
  </div>

  <div class="calendar-grid">
    <div class="day-header" *ngFor="let day of ['SUn', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']">
      {{ day | translate }}
    </div>

    <div class="empty-cell day-cell" *ngFor="let empty of emptyCells"></div>

    <div class="day-cell" *ngFor="let d of daysInMonth">
      <div class="day-number">{{ d }}</div>
      <div class="booking-container">
        <div (click)="onShowDilogBooking(book)" class="booking-item-compact" [ngClass]="book.status"
          *ngFor="let book of getBookingsForDay(d) | slice:0:3">
          <span class="book-time">{{ book.startTime }}</span>
          <span class="book-title">{{ book.name }}</span>
        </div>

        <div class="view-more-btn" *ngIf="getBookingsForDay(d).length > 3"
          (click)="onViewMore(d, getBookingsForDay(d))">
          + {{ getBookingsForDay(d).length - 3 }} {{ 'more' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="visibleBooksPopup" [modal]="true"
  [header]="('Bookings details' | translate) + ' - ' + selectedDay()" [style]="{ width: '400px', maxWidth: '90vw' }"
  [draggable]="false" [resizable]="false">
  <div class="day-popup-container">
    <div *ngFor="let book of selectedDayBooks()" (click)="onShowDilogBooking(book); visibleBooksPopup = false"
      class="booking-item-compact popup-item" [ngClass]="book.status">
      <div class="book-info">
        <span class="book-time">{{ book.startTime }}</span>
        <span class="book-title">{{ book.name }}</span>
      </div>
      <span class="status-badge" [ngClass]="book.status">{{ book.status | translate }}</span>
    </div>
  </div>
</p-dialog>

<app-dilog-booking (changeStatusBooking)="onchangeStatusBooking()" [(visible)]="visibelDilogBooking"
  [obj]="obj()"></app-dilog-booking>