.calendar-wrapper {
  position: relative;
  padding: 20px;
  background: var(--pure-white);
  height: 700px;
  margin-top: 30px;
  border-radius: 20px;
  margin-top: 15px;
  border: 1px solid var(--medium-gray);
  overflow: auto;

  .calendar-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: var(--white-color);

    .btn-filterbyStatus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      button {
        border: 1px solid var(--storm-slate);
        color: var(--storm-slate);
        transition: 0.3s linear;
        &:hover {
          background-color: var(--storm-slate);
          color: var(--white-color);
          opacity: 0.9;
        }
        &.All {
          background-color: var(--primary-navy);
          color: var(--white-color);
        }

        &.COMPLETED {
          background-color: var(--state-positive-soft);
          color: var(--seafoam-green);
        }

        &.CANCELLED {
          background-color: var(--rose-petal);
          color: var(--soft-crimson);
        }
        &.PENDING {
          background-color: var(--state-attention-soft);
          border: 1.5px solid var(--amber-honey);
          color: var(--state-attention);
        }
      }
    }
    h2 {
      color: #333;
      margin: 0;
    }
  }
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-left: 1px solid var(--frost-gray);
  border-top: 1px solid var(--frost-gray);

  .day-header {
    background: var(--surface-base);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: var(--dusty-stone);
    border-right: 1px solid var(--frost-gray);
  }

  .day-cell {
    min-height: 140px;
    border-right: 1px solid var(--frost-gray);
    border-bottom: 3px solid var(--mint-whisper);
    padding: 8px;
    background-color: var(--pure-white);
    cursor: pointer;
    &:hover {
      background-color: var(--cloud-white);
    }
  }

  .booking-item {
    box-shadow:
      4px 0 15px rgba(0, 0, 0, 0.05),
      -4px 0 15px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--state-attention-border);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--white-color);
    margin-top: 10px;

    .header-book {
      background-color: var(--primary-navy);
      padding: 5px;
      color: var(--golden-sun);
      border-top: 3px solid var(--golden-sun);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .day-number {
        font-size: 12px;
        color: var(--storm-slate);
        font-family: serif;
        font-size: 15px;
        font-weight: bold;
      }
    }

    .content-book {
      border-bottom: 1px solid var(--bg-cream-light);
      padding: 10px;
    }
  }

  .status-btn {
    border: none;
    width: fit-content;
    padding: 0 5px;
    border-radius: 20px;
    margin: 10px;
    font-size: 13px;
    &.COMPLETED {
      background-color: var(--state-positive-soft);
      color: var(--seafoam-green);
    }
    &.confirmed {
      background-color: var(--ice-blue);
      color: var(--royal-azure);
    }
    &.CANCELLED {
      background-color: var(--rose-petal);
      color: var(--soft-crimson);
    }
    &.PENDING {
      background-color: var(--state-attention-soft);
      border: 1.5px solid var(--amber-honey);
      color: var(--state-attention);
    }
  }
}

.gemini-dot {
  width: 5px;
  display: inline-block;
  margin: 0 5px;
  height: 5px;
  background-color: var(--amber-honey);
  border-radius: 50%;
  animation: pulse 1.5s infinite ease-in-out;
  &.COMPLETED {
    background-color: var(--seafoam-green);
  }
  &.CONFIRMED {
    background-color: var(--royal-azure);
  }
  &.CANCELLED {
    background-color: var(--soft-crimson);
  }
  &.PENDING {
    background-color: var(--amber-honey);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
    box-shadow: 0 0 15px var(--state-positive);
  }
}

@media (max-width: 767px) {
  .calendar-nav {
    h2 {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .calendar-grid {
    display: block;
    border: none;

    .day-header {
      display: none;
    }

    .empty-cell {
      display: none;
    }

    .day-cell {
      min-height: auto;
      margin-bottom: 15px;
      border: 1px solid var(--frost-gray);
      border-radius: 12px;
      border-bottom: 4px solid var(--mint-whisper);

      &::before {
        content: 'التاريخ: ' attr(data-day);
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        color: var(--seafoam-green);
      }

      &:not(:has(.booking-item)) {
        display: none;
      }
    }
  }
}

@media  (max-width: 1200px) {
  .calendar-nav{
    flex-direction: column;
    gap: 10px;
    .btn-filterbyStatus{
      flex-wrap: wrap;
      justify-content: center !important;
    }
  }
}


@media (min-width: 1200px) and (max-width: 1400px) {
  .gemini-dot {
    display: none;
  }
}
