.calendar-wrapper {
  padding: 20px;
  background: #fff;
  height: 700px;
  margin-top: 30px;
  border-radius: 20px;
  margin-top: 15px;
  border: 1px solid var(--medium-gray);
  overflow: auto;

  .calendar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .nav-btn {
      padding: 10px 20px;
      border: 1px solid #d1f5d3;
      background: #f0faf5;
      color: #5bae7f;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
      &:hover {
        background: #d1f5d3;
      }
    }
    h2 {
      color: #333;
      margin: 0;
    }
  }
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-left: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;

  .day-header {
    background: #f8f9fa;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #777;
    border-right: 1px solid #f0f0f0;
  }

  .day-cell {
    min-height: 140px;
    border-right: 1px solid #f0f0f0;
    border-bottom: 3px solid #f0faf5;
    padding: 8px;
    background-color: #fff;
    cursor: pointer;
    &:hover {
      background-color: #fafafa;
    }
  }

  .booking-item {
    box-shadow:
      4px 0 15px rgba(0, 0, 0, 0.05),
      -4px 0 15px rgba(0, 0, 0, 0.05);
    border: 1px solid #fff9c4;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--white-color);
    margin-top: 10px;

    .header-book {
      background-color: var(--primary-navy);
      padding: 5px;
      color: #fbc02d;
      border-top: 3px solid #fbc02d;
      display: flex;
      align-items: center;
      justify-content: space-between;
       .day-number {
      font-size: 12px;
    color: #4A556C;
    font-family: serif;
    font-size: 15px;
      font-weight: bold;
    }
    }

    .content-book {
      border-bottom: 1px solid var(--bg-cream-light);
      padding: 10px;
    }
  }

  .status-btn {
    border: none;
    width: fit-content;
    padding: 0 5px;
    border-radius: 20px;
    margin: 10px;
    font-size: 13px;
    &.completed {
      background-color: #d1f5d3;
      color: #5bae7f;
    }
    &.confirmed {
      background-color: #e3f2fd;
      color: #2196f3;
    }
    &.cancelled {
      background-color: #ffebee;
      color: #ef5350;
    }
    &.pending {
      background-color: #fffbeb;
      border: 1.5px solid #f59e0b;
      color: #d97706;
    }
  }
}

.gemini-dot {
  width: 5px;
  display: inline-block;
  margin: 0 5px;
  height: 5px;
  background-color: #f59e0b;
  border-radius: 50%;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
    box-shadow: 0 0 15px #72f1b8;
  }
}

@media (max-width: 767px){
  .calendar-nav {
    h2{
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .calendar-grid {
    display: block;
    border: none;

    .day-header {
      display: none;
    }

    .empty-cell {
      display: none;
    }

    .day-cell {
      min-height: auto;
      margin-bottom: 15px;
      border: 1px solid #f0f0f0;
      border-radius: 12px;
      border-bottom: 4px solid #f0faf5;

      &::before {
        content: 'التاريخ: ' attr(data-day);
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        color: #5bae7f;
      }

      &:not(:has(.booking-item)) {
        display: none;
      }
    }
  }
}
