@use '../../../styles' as *;

.section-header {
  padding: 10px 0;
  padding-bottom: 5px;
  position: sticky;
    background-color: var(--white-color);
  top: 0;
  z-index: 100;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}




ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  li {
    position: relative;


    &::before {
      content: '';
      position: absolute;
      background-color: var(--accent-gold);
      height: 2px;
      width: 0%;
      bottom: -6px;
      left: 0;
      transition: width 0.3s ease;
    }

    a {
      color: var(--primary-navy);
      text-decoration: none;
      font-size: 18px;
      font-weight: 650;
      cursor: pointer;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

.header-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn-header {
  background: linear-gradient(90deg, #b5a863 0%, #8b7a3a 100%);
  @include button(200px);
  border-radius: 30px;
  padding: 10px;
  color: var(--white-color);
  font-weight: bold;
  margin-inline-start: 20px;
}



.btn-header-div{
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 767px) {
  .section-header {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 1400px) {
  .btn-header {
    width: 130px;
  }
}
