<app-top-header></app-top-header>
<app-drawer-left (EventRoute)="onEventRoute($event)"></app-drawer-left>
<app-header (EventRoute)="onEventRoute($event)"></app-header>

<div>
  <app-hero-section id="Home"></app-hero-section>
  <div class="content-main-page">
 @defer (on viewport; prefetch on idle) {
  <app-about id="About"></app-about>
} @placeholder {
  <div id="About"></div>
}

@defer (on viewport; prefetch on idle) {
  <app-servies id="Services"></app-servies>
} @placeholder {
  <div id="Services"></div>
}

@defer (on viewport; prefetch on idle) {
  <app-team-work id="teamWork"></app-team-work>
  <app-counter></app-counter>
} @placeholder {
  <div id="teamWork" style="height: 800px; width: 100%;"></div>
}
  </div>
</div>



<app-footer (EventRoute)="onEventRoute($event)"></app-footer>
<app-chat-boot></app-chat-boot>
