<app-top-header></app-top-header>
<app-drawer-left (EventRoute)="onEventRoute($event)"></app-drawer-left>
<app-header (EventRoute)="onEventRoute($event)"></app-header>

<div>
  <app-hero-section id="Home"></app-hero-section>
  <div class="content-main-page">
    <app-about id="About"></app-about>
    <!-- <app-how-it-work id="HowWork"></app-how-it-work> -->
    <app-servies id="Services"></app-servies>
    <app-team-work id="teamWork"></app-team-work>
    <app-counter></app-counter>
  </div>
</div>
<app-footer (EventRoute)="onEventRoute($event)"></app-footer>
<app-chat-boot></app-chat-boot>