
.servies-section{
  padding: 20px;
}
.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  display: inline-block;
  height: 2px;
  width: 7%;
  background-color: var(--accent-gold);
}
h1 {
  background-color: var(--white-color);
  text-align: center;

}
.fa-circle {
  color: var(--accent-gold);
  font-size: 10px;
}
