<section class="section-servies">
  <div class="desc-servies">
    <p>
      نوفر في مكتب المحامي موسى النشمي الحماية القانونية للشركات المحلية والأجنبية والأفراد، ونقدم
      الاستشارات
    </p>
    <p>
      القانونية في مختلف المجالات. بالإضافة إلى تقديم الخدمات القانونية لقطاع الأعمال من خلال
      حلفاءنا الدوليين. كما نقوم
    </p>
    <p>
      بالمرافعة والمدافعة نيابة عن عملائنا في جميع المنازعات و القضايا لتغطية الحماية القانونية
      اللازمة للجميع.
    </p>
  </div>

  <div class="title-servies">
    <svg class="dotted-bg">
      <defs>
        <pattern id="dots" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <circle cx="10" cy="10" r="1.5" fill="rgba(255,255,255,0.2)" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="#1a1a1a" />
      <rect width="100%" height="100%" fill="url(#dots)" />
    </svg>

    <div class="line-shape">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h2>خدماتنا القانونية</h2>
  </div>
</section>
<!-- <app-slider-serves></app-slider-serves> -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="#1a1a1a"
    fill-opacity="1"
    d="M0,128L120,117.3C240,107,480,85,720,101.3C960,117,1200,171,1320,197.3L1440,224L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"
  ></path>
</svg>
