<p-table
  [value]="tableData"
  [paginator]="true"
  [rows]="11"
  showGridlines
  [tableStyle]="{ 'min-width': '50rem' }"
>

  <!-- HEADER -->
  <ng-template pTemplate="header">
    <tr>
      <ng-container
        *ngFor="let item of (tableData.length ? tableData[0] : {}) | keyvalue">
        <th *ngIf="!isHidden(item.key)">
          {{ item.key }}
        </th>
      </ng-container>

      <!-- Procedures column -->
      <th *ngIf="actionsTpl" style="text-align: center">
        Procedures
      </th>
    </tr>
  </ng-template>

  <!-- BODY -->
  <ng-template pTemplate="body" let-row>
    <tr>
      <ng-container *ngFor="let item of row | keyvalue">
        <td *ngIf="!isHidden(item.key)">
          {{ item.value }}
        </td>
      </ng-container>

      <!-- actions -->
      <td *ngIf="actionsTpl">
        <ng-container
          *ngTemplateOutlet="actionsTpl; context: { $implicit: row }"
        ></ng-container>
      </td>
    </tr>
  </ng-template>

</p-table>

<ng-content></ng-content>
