.wrapper-information-booging {
  background-color: var(--white-color);
  border-radius: 20px;
  overflow: hidden;
}

.header-information {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--medium-gray);
  i {
    border: 1px solid var(--golden-sun);
    background-color: var(--state-attention-border);
    color: var(--golden-sun);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 10px;
  }
}

form {
  padding: 20px;
  background-color: var(--silver-frost);
  margin: 20px;
  border-radius: 20px;
  input {
    background-color: var(--white-color);
  }
}

.next-btn {
  background-color: var(--primary-navy);
  border-radius: 30px;
  color: var(--white-color);
  width: 200px;
  margin: 20px;
}
