.header-date{
   display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--medium-gray);
  i {
    border: 1px solid var(--golden-sun);
    background-color: var(--state-attention-border);
    color: var(--golden-sun);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 10px;
  }
}

.datepicker{
  text-align: center;
  margin:20px auto;
}


.wrapper-date{
      background-color: var(--white-color);
  border-radius: 20px;
  overflow: hidden;
}




.Times-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
  height: 168px;
    overflow-y: auto;
}



.Time-slot {
background-color: var(--silver-frost);
border: 1px solid var(--Cloudy-Sky);
padding: 10px;
border-radius: 10px;
font-weight: bold;
cursor: pointer;
.Timing{
  color: var(--primary-navy);
}
}


.selected-time{
   background-color: var(--accent-gold);
   color:var(--white-color) !important
}


.next-btn{
  background-color: var(--primary-navy);
  border-radius: 30px;
  color: var(--white-color);
  width: 20%;
  margin: 20px;
}



::ng-deep .p-datepicker-day-selected {
    background: var(--accent-gold) !important;
}



@media(max-width:767px){
  .next-btn{
width: 30%;
  }
}
