
h3 {
  color: black;
  font-weight: 700;
  font-size: 2rem;
  transform: translateY(1rem);
  -webkit-transform: translateY(1rem);
  opacity: 0;
  animation-delay: 0.9s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: loadUp;
}
p {
  margin: 0;
  padding: 0;
  color: black;
  font-weight: 300;
  transform: translateY(1rem);
  -webkit-transform: translateY(1rem);
  opacity: 0;
  animation-delay: 0.95s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: loadUp;
}

.wrapper-success{
  background-color: rgba(19, 18, 18, 0.532);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 20;
  padding: 0 !important;
  top: 0 !important;
}
.thank-you-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 25%;
  z-index: 3333333333333;
  transform: translate(-50%, -50%);
  border: 1px solid #b4ec97;
  background:white;
  text-align: center;
  border-radius: 0.6rem;
  padding-bottom: 3rem;
}
.check-mark-block {
  position: relative;
  transform: translateY(0);
  opacity: 0;
  margin: auto;
  width: 8rem;
  height: 8rem;
  background-image: linear-gradient(to top, #99f449 0%, #05ebb5 100%);
  border-radius: 50%;
  overflow: hidden;
  animation-delay: 0.4s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: loadUpThankyou;
}

.check-mark-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  margin: auto;
  padding: 5rem 10% 4rem 16%;
}
.check-mark-wrapper span {
  position: relative;
  width: 3rem;
  height: 0.7rem;
  background: transparent;
  display: block;
  border-radius: 50%;
  transform: rotate(0);
  transition: all 0.3s;
  transform: rotate(33deg);
  position: relative;
  filter: drop-shadow(20px 10px 10px rgba(0, 0, 0, 0.2));
}
.check-mark-wrapper span:last-child {
  width: 5rem;
  height: 0.7rem;
  display: block;
  border-radius: 30px;
  transform-origin: top;
  transition: all 0.3s;
  transform: translateY(-1.7rem) translateX(1rem) rotate(-56deg);
}
.check-mark-wrapper span::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  border-radius: 30px;
  animation-delay: 0.65s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: getFullWidth;
}
.check-mark-wrapper span:last-child::before {
  animation-delay: 0.85s;
}

@keyframes getFullWidth{
  0%{
    width:0;
  }
  100%{
    width:100%;
  }
}

@keyframes loadUpThankyou{

  0%{
    transform:translateY(0);
    opacity:0;
  }
  100%{
    transform:translateY(-2.5rem);
    opacity:1;
  }
}
@keyframes loadUp{
  0%{
    transform:translateY(1rem);
    opacity:0;
  }
  100%{
    transform:translateY(0);
    opacity:1;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .thank-you-wrapper {
    width: 90%;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .thank-you-wrapper {
    width: 40%;
  }
}



