.content {
  display: flex;
  color: var(--white-color);
}

.menue {
  position: fixed;
  width: 20%;
  height: 100%;
  background: linear-gradient(180deg, var(--primary-navy)  0%, var(--dark-navy-deep) 100%);
  transition: 0.3s linear;
  z-index: 8888 !important;
}

.content-dashbord {
  position: relative;
  width: 80%;
  padding:0 20px;
  margin-left: 20%;
  transition: 0.3s linear;
}

.menue.collapsed {
  width: 5%;
}

.content-dashbord.collapsed {
  width: 95%;
  margin-left: 5%;
}




@media (max-width: 767px) {
  .menue {
    width: 0 !important;
  }
  .content-dashbord {
    width: 100%;
    margin-left: 0;
  }

  .menue.collapsed {
    width: 80% !important;
  }

  .content-dashbord.collapsed {
    width: 100%;
    margin-left: 0;
  }

}

@media (min-width: 767px) and (max-width: 1200px) {
  .menue {
    width: 30% !important;
  }
  .content-dashbord {
    width: 70%;
    margin-left: 30%;
  }

  .menue.collapsed {
    width: 5% !important;
  }

  .content-dashbord.collapsed {
    width: 95% !important;
    margin-left: 5% !important;
  }
}
