.content {
  display: flex;
}

.menue {
  position: fixed;
  width: 20%;
  height: 100vh;
  transition: 0.3s linear;
 z-index: 555 !important;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.05), -4px 0 15px rgba(0, 0, 0, 0.05);
      background-color: var(--white-color);
  border-inline-end: 2px solid var(--golden-bronze);
  inset-inline-start: 0;
}

.content-dashbord {
  position: relative;
  width: 80%;
  height: 100%;
  padding:0 20px;
  transition: 0.3s linear;
  color: var(--black-color);
  height: 100vh;
  margin-inline-start: 20%;
}



.menue.collapsed {
  width: 5%;
}

.content-dashbord.collapsed {
  width: 95%;
  margin-inline-start: 5%;
}








@media (max-width: 767px) {
  .menue {
    width: 0;
  }
  .content-dashbord {
    width: 100%;
    margin-inline-start: 0;
  }

  .menue.collapsed {
    width: 80%;
  }

  .content-dashbord.collapsed {
    width: 100%;
    margin-inline-start: 0;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .menue {
    width: 30%;
  }
  .content-dashbord {
    width: 70%;
    margin-inline-start: 30%;
  }

  .menue.collapsed {
    width: 7%;
  }

  .content-dashbord.collapsed {
    width: 93%;
    margin-inline-start: 7%;
  }
}
