<div class="chatbot-container">
  @if (!isOpen) {
    <button class="chatbot-toggle" (click)="toggleChat()">
      <i class="fa-solid fa-headset"></i>
    </button>
  }

  <div class="chatbot-box" [class.isOpen]="isOpen">
    <div class="chatbot-header">
      <h4><i class="fa-solid fa-headset Support"></i> {{"Support"|translate}}</h4>
      <button class="close-chat" (click)="toggleChat()">&times;</button>
    </div>

    <div class="chatbot-messages">
      @if (messages=="") {
        <p class="message">{{"welcome_chat"|translate}}</p>
      }
      <div>
        {{ messages }}
      </div>

       @if (isLoading()) {
    <div class="typing-indicator">
      <span></span>
      <span></span>
      <span></span>
    </div>
  }
    </div>

    <div class="chatbot-input">
      <input
        type="text"
        #msgInput
        placeholder="{{'Type_message'|translate}}"
        (keyup.enter)="sendMessage(msgInput)"
      />
      <button (click)="sendMessage(msgInput)">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>
