.section-top-header {
  background: linear-gradient(to left, var(--primary-navy), var(--accent-gold));
}

.content-top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white-color);
}

.links-top-header {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 15px;

  li {
    padding: 0 10px;
  }
}

.icon-contact {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  transition: scale 0.3s ease-in-out;

  li {
    padding: 0 10px;
    cursor: pointer;

    &:hover {
      color: var(--primary-navy);
      transform: scale(1.1);
    }
  }
}

@media (max-width: 767px) {
  .section-top-header {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .icon-contact {
    padding: 0;
    gap: 0;
    li {
      padding: 5px;
    }
  }
}
