<div class="container">
  <section class="about-section">

    <div class="img-about-container">
      <div pAnimateOnScroll enterClass="my-enter-right" leaveClass="my-leave-animation" class="img-left">
        <img height="300" width="200" src="/assets/Img/2a.png" alt="About Image" class="img-1" />
      </div>

      <div pAnimateOnScroll enterClass="my-enter-animation" leaveClass="my-leave-animation" class="img-right">
        <img height="220" width="180" src="/assets/Img/2.png" alt="hero-section-img" class="img-2" />

        <img height="100" width="100" src="/assets/Img/logo.svg" alt="Logo" class="logo-header img-3" />
      </div>
    </div>





    <div class="about-text-container">
      <div class="section-title">
        <i class="fa-solid fa-circle"></i>
        <span class="line"></span>
        <h2 pAnimateOnScroll enterClass="my-enter-zoom" leaveClass="my-leave-animation">
          {{ 'ABOUT_COMPANY' | translate }}
        </h2>
        <span class="line"></span>
        <i class="fa-solid fa-circle"></i>
      </div>

      <p pAnimateOnScroll enterClass="my-enter-animation" leaveClass="my-leave-animation"
        class="animation-duration-1000">
        {{ 'COMPANY_DESCRIPTION' | translate }}
      </p>
      <p style="margin-top: 20px;" pAnimateOnScroll enterClass="my-enter-animation" leaveClass="my-leave-animation"
        class="animation-duration-1000">
        {{ 'COMPANY_DESCRIPTION_2' | translate }}
      </p>
      <ul>
        <li><i class="fa-solid fa-check"></i>{{ 'FEATURE_EXPERIENCED_TEAM' | translate }}</li>
        <li><i class="fa-solid fa-check"></i>{{ 'FEATURE_CLIENT_CENTRIC' | translate }}</li>
        <li><i class="fa-solid fa-check"></i>{{ 'FEATURE_COMPREHENSIVE_SERVICES' | translate }}</li>
        <li><i class="fa-solid fa-check"></i>{{ 'FEATURE_SUCCESS_TRACK_RECORD' | translate }}</li>
      </ul>
      <button pAnimateOnScroll enterClass="my-enter-zoom" leaveClass="my-leave-animation" class="btn-about-section">
        {{ 'READ_MORE' | translate }}
      </button>
    </div>

  </section>
</div>