<section class="about-section">
  <div class="img-about-container">
    <div
      pAnimateOnScroll
      enterClass="my-enter-animation"
      leaveClass="my-leave-animation"
      class="img-left"
    >
      <img
        height="300"
        width="200"
        src="/assets/Img/court-justice-scales-gavel-generative-ai_74760-4832.avif"
        alt="About Image"
        class="img-1"
      />
    </div>

    <div
      pAnimateOnScroll
      enterClass="my-enter-right"
      leaveClass="my-leave-animation"
      class="img-right"
    >
      <img
        height="220"
        width="180"
        src="/assets/Img/portrait-young-female-lawyer-smiling-happy-her-workplace-office-lawyer-technologist-professional-face-female-lawyer-legal-consultant-law-firm_785351-3460.avif"
        alt="hero-section-img"
        class="img-2"
      />

      <img
        height="80"
        width="80"
        src="/assets/Img/sophisticated-law-firm-logo-on-transparent-background-png.webp"
        alt="Logo"
        class="logo-header img-3"
      />
    </div>
  </div>

  <div class="about-text-container">
    <div class="section-title">
      <i class="fa-solid fa-circle"></i>
      <span class="line"></span>
      <h2>Work Process</h2>
      <span class="line"></span>
      <i class="fa-solid fa-circle"></i>
    </div>

    <h2 pAnimateOnScroll enterClass="my-enter-top" leaveClass="my-leave-animation">
      About Our Firm
    </h2>

    <p
      pAnimateOnScroll
      enterClass="my-enter-animation"
      leaveClass="my-leave-animation"
      class="animation-duration-1000"
    >
      We are a leading law firm dedicated to providing exceptional legal services to our clients.
      Our team of experienced attorneys specializes in various areas of law, ensuring comprehensive
      solutions tailored to your needs. With a commitment to excellence and integrity, we strive to
      achieve the best outcomes for our clients.
    </p>
    <ul>
      <li><i class="fa-solid fa-check"></i>Experienced Legal Team</li>
      <li><i class="fa-solid fa-check"></i>Client-Centered Approach</li>
      <li><i class="fa-solid fa-check"></i>Comprehensive Legal Services</li>
      <li><i class="fa-solid fa-check"></i>Proven Track Record of Success</li>
    </ul>
    <button
      pAnimateOnScroll
      enterClass="my-enter-zoom"
      leaveClass="my-leave-animation"
      class="btn-about-section"
    >
      Learn More
    </button>
  </div>
  <i class="fa-solid fa-gavel"></i>
</section>
