// .auth-container {
//   display: flex;
//   height: 100vh;
//   width: 100%;

//   background-color: #000;
//   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
//   border-radius: 8px;
//   overflow: hidden;
// }

// .welcome-panel {
//   flex: 1;
//   background: linear-gradient(to right, var(--golden-bronze), #a68a4c);
//   color: white;
//   display: flex;
//   align-items: center;
//   padding: 60px;
//   clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
//   z-index: 1;
// }

// .welcome-text h1 {
//   font-size: 2.8rem;
//   margin-bottom: 10px;
//   line-height: 1.1;
// }

// .welcome-text p {
//   font-size: 0.9rem;
//   opacity: 0.7;
// }

// .form-panel {
//   flex: 1.2;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding-left: 20px;
// }

// .form {
//   width: 70%;
// }

// .form h2 {
//   color: var(--white-color);
//   font-size: 2.2rem;
//   margin-bottom: 40px;
// }

// .Group{
//   margin-bottom: 25px;
//   border-bottom: 1px solid #444;
// }

// .input-wrapper {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .input-wrapper input {
//   background: transparent;
//   border: none;
//   outline: none;
//   color: var(--white-color);;
//   padding: 10px 0;
//   width: 100%;
// }

// .input-wrapper i {
//   color: #888;
//   font-size: 0.9rem;
// }

// .btn-signup {
//   width: 100%;
//   border-radius: 30px;
//   border: none;
//   background: linear-gradient(to right, var(--golden-bronze), #a68a4c);
//   color: var(--white-color);;
//   font-weight: bold;
//   cursor: pointer;
//   margin-top: 20px;
//     font-size: 20px;
//   transition: 0.3s;
// }

// .btn-signup:hover {
//   filter: brightness(1.2);
// }

// .login-link {
//   text-align: center;
//   color: var(--tertiary-color);
//   font-size: 0.85rem;
//   margin-top: 20px;
// }

// .login-link a {
//   color: var(--golden-bronze);
//   text-decoration: none;
//   font-weight: bold;
// }


// @media (max-width: 767px) {
//  .welcome-panel{
//     display: none;
//  }
//   .form {
//     width: 90%;
//   }
// }




button{
  background-color: var(--golden-bronze);
  color: white;
  margin-left: 10px;
}
