<div dir="rtl">
<p-carousel
  [value]="products"
  [numVisible]="3"
  [numScroll]="1"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-service #item>
    <div
      class="card animation-duration-1000"
      pAnimateOnScroll
      enterClass="my-enter-zoom"
      leaveClass="my-leave-animation"
    >
      <i class="fa-solid fa-gavel"></i>
      <h3 class="mb-2 font-bold text-xl">{{ service.name }}</h3>
      <p class="text-gray-600 mb-4 text-sm leading-relaxed">
        {{ service.description }}
      </p>

      <a href="#" class="font-semibold text-sm underline">→ قراءة المزيد</a>
    </div>
  </ng-template>
</p-carousel>

</div>
