@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Mukta:wght@200;300;400;500;600;700;800&family=Playwrite+IT+Trad:wght@100..400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--white-color);
  backdrop-filter: blur(10px);
  user-select: none;
  overflow-x: hidden;
  font-family: 'Cairo', sans-serif;
}

:root {
  --black-color: black;
  --white-color: white;
  --golden-bronze: rgb(150, 122, 62);
  --deep-purple: #1a0033;
  --primary-dark: #1a1a1a;
  --secondary-color: #888;
  --tertiary-color: #666;
  --primary-navy: #14143a;
  --accent-gold: #93853f;
}
.Group {
  position: relative;
  margin-top: 15px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid var(--golden-bronze);
  border-radius: 7px;
  background-color: transparent;
}

input:focus {
  background-color: transparent;
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//     -webkit-box-shadow: 0 0 0 30px #000 inset !important;
// }

li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Cairo', sans-serif;
  &:hover {
    opacity: 0.7;
  }
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.requierd {
  color: red;
  font-weight: bold;
}




::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-gold)!important;
    border-radius: 10px;
}

