@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Mukta:wght@200;300;400;500;600;700;800&family=Playwrite+IT+Trad:wght@100..400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--white-color);
  user-select: none;
  overflow-x: hidden;
  font-family: 'Cairo', sans-serif;
}

:root {
  --black-color: black;
  --white-color: white;
  --golden-bronze: rgb(150, 122, 62);
  --deep-purple: #1a0033;
  --primary-dark: #1a1a1a;
  --secondary-color: #888;
  --tertiary-color: #666;
  --Platinum:#dadadabf;
  --primary-navy: #14143a;
  --accent-gold: #93853f;
  --medium-gray: #a9a9a9;
}
.Group {
  position: relative;
  margin-top: 15px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid var(--golden-bronze);
  border-radius: 7px;
  background-color: transparent;
}

input:focus {
  background-color: transparent;
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//     -webkit-box-shadow: 0 0 0 30px #000 inset !important;
// }

li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Cairo', sans-serif;
  &:hover {
    opacity: 0.7;
  }
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.requierd {
  color: red;
  font-weight: bold;
}




::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-gold)!important;
    border-radius: 10px;
}



























/***********************************Anmations**********************************/
 @keyframes customFadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .my-enter-animation {
    animation: customFadeInLeft 1s forwards !important;
  }

  .my-leave-animation {
    opacity: 0 !important;
  }




  @keyframes customFadeInRight {
    0% {
      opacity: 0;
      transform: translateX(50px); /* يبدأ من اليمين بـ 50 بكسل */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* يرجع لمكانه الطبيعي */
    }
  }

  /* الكلاس اللي هتستخدميه في الـ enterClass */
  .my-enter-right {
    animation: customFadeInRight 1s forwards !important;
  }





  @keyframes customFadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .my-enter-top {
    animation: customFadeInDown 1s forwards !important;
  }

  .my-leave-animation {
    opacity: 0 !important;
    transition: opacity 0.5s;
  }





  @keyframes customZoomIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .my-enter-zoom {
    animation: customZoomIn 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards !important;
  }

  .my-leave-animation {
    opacity: 0 !important;
    transition: opacity 0.5s;
  }
